@{
  Layout = "_Layout";
}

@model Menu.Models.Flavor;

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<br>
</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not contain any treats</p>
}
else
{
  <br>
  <dl>
  @foreach(var join in Model.JoinEntities)
  {
    <dt>@join.Treat.Name</dt>
  }
  </dl>
  <br>
}
<hr />

@if (User.Identity.IsAuthenticated)
{
<h5>@Html.ActionLink("Add treat", "AddTreat", new { id = Model.FlavorId })</h5>
<h5>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</h5>
<h5>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</h5>
}
<h5>@Html.ActionLink("Back to flavors", "Index")</h5>