@{
  Layout = "_Layout";
}

@model Menu.Models.Treat

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<br>

@if(@Model.JoinEntities.Count == 0)
{
  <h5>Country: @Html.DisplayFor(model => model.Country)</h5>
  <h5>Description: @Html.DisplayFor(model => model.Description)</h5>
  <hr />
  <h4>Flavors:</h4>
  <p>This treat does not belong to any flavors</p>
}
else
{ <p><h3>Country:</h3> @Html.DisplayFor(model => model.Country)</p>
  <p><h3>Description:</h3> @Html.DisplayFor(model => model.Description)</p>
  <hr />
  <br>
  <h3>Flavors:</h3>
  <br>
  <dl>
  @foreach(var join in Model.JoinEntities)
  {
    <dt>@join.Flavor.Name 
      @if (User.Identity.IsAuthenticated)
        {
          @using (Html.BeginForm("DeleteFlavor", "Treats"))
            {
              @Html.Hidden("joinId", @join.TreatFlavorId) 
              <input type="submit" value="Delete" class="btn"/>
            }
        }
    <br>
    </dt>
  }
  </dl>
  <br>
}
<hr />
@if (User.Identity.IsAuthenticated)
{
<h5>@Html.ActionLink("Add flavor", "AddFlavor", new { id = Model.TreatId })</h5>
<h5>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</h5>
<h5>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</h5>
}
<h5>@Html.ActionLink("Back to treats", "Index")</h5>