@{
  Layout = "_Layout";
}

@model Menu.Models.Treat

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<br>

@if(@Model.JoinEntities.Count == 0)
{
  <hr />
  <h4>Categories:</h4>
  <p>This treat does not belong to any flavors</p>
}
else
{
  <h3>Categories:</h3>
  <hr />
  <dl>
  @foreach(var join in Model.JoinEntities)
  {
    <dt>@join.Flavor.Name 
    @using (Html.BeginForm("DeleteFlavor", "Treats"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId) 
      <input type="submit" value="Delete" class="btn"/>
    }
    </dt>
  }
  </dl>
}
<hr />
<br>
<h5>@Html.ActionLink("Add flavor", "AddFlavor", new { id = Model.TreatId })</h5>
<h5>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</h5>
<h5>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</h5>
<h5>@Html.ActionLink("Back to treats", "Index")</h5>